/vendor/

.env
.env.*
!.env.example

/storage/*
!/storage/.gitkeep
!/storage/db.sqlite3.example
!/storage/errors/
/storage/errors/*
!/storage/errors/.gitkeep

/app/*
!/app/.gitkeep

*.log
*.cache
*.tmp
phpstan.neon.cache
.phpunit.result.cache

/coverage/
/tests/_output/

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

.DS_Store
Thumbs.db

.devcontainer/.env
.devcontainer/docker-compose.override.yml

*.phar

project_rules.txt

db.sqlite3
db.sqlite3-journal
