parameters:
    level: 7

    paths:
        - src
        - config

    excludePaths:
        analyse:
            - app/*
            - storage/*
            - vendor/*
            - public/*
            - bin/*
            - tests/*
    bootstrapFiles:
        - stubs/psr-http-client.php

    phpVersion: 80300

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 1
        jobSize: 20
        processTimeout: 600.0

    inferPrivatePropertyTypeFromConstructor: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
