services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/var/www/html:cached
    expose:
      - "9000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - "8080:80"
    volumes:
      - ..:/var/www/html:cached
      - ../.devcontainer/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
